@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
  font-family: 'Dosis', sans-serif;
  height: 100%;
}

.bg{
    background: linear-gradient(to bottom, #D0E7D2 0%, #D0E7D2 100%);
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body {
  min-height: 100%;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
.btn.bg-pink{
  background-color: #D0E7D2;
  &:hover{
    color: white;
    background: #FF862C;
  }
}

.text-orange{
  color: #FF862C;
}

.bg {
  background: linear-gradient(to bottom, #D0E7D2 0%, #D0E7D2 100%);
}
footer{
  bottom: 0;
}